@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@400;500&family=Barlow:wght@400;500&family=DM+Mono:wght@300;400;500&family=Handlee&family=IBM+Plex+Mono:wght@400;500&family=Inconsolata:wght@400;500&family=Kanit:wght@200;300;400;500&family=Karla:wght@300;400;500&family=Patrick+Hand&family=Raleway:wght@300;400;500&family=Red+Hat+Mono:wght@300;400;500&family=Roboto+Condensed:wght@300;400;700&family=Roboto+Mono:wght@300;400;500&family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;400&family=Source+Code+Pro:wght@300;400;500&family=Space+Mono:wght@400;700&family=Titillium+Web:wght@200;300;400;600&family=Ubuntu+Mono:wght@400;700&family=Varela&family=Varela+Round&display=swap');

/*
Custom Fonts
========
font-family: 'Assistant', sans-serif;
font-family: 'Barlow', sans-serif;
font-family: 'DM Mono', monospace;
font-family: 'Handlee', cursive;
font-family: 'IBM Plex Mono', monospace;
font-family: 'Inconsolata', monospace;
font-family: 'Kanit', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Patrick Hand', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Red Hat Mono', monospace;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;
font-family: 'Source Code Pro', monospace;
font-family: 'Space Mono', monospace;
font-family: 'Titillium Web', sans-serif;
font-family: 'Ubuntu Mono', monospace;
font-family: 'Varela', sans-serif;
font-family: 'Varela Round', sans-serif;

*/

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  font-family: 'Roboto Condensed', sans-serif;
  
}

.orig-link a {
  text-decoration: none;
  color: #ff9800;
}
.orig-link {
  margin: 1.25rem;
}


.App-header {
  background-color: #282c34;
  min-width: 18.75rem;
  display: flex;
  
  flex-direction: row;
  justify-content: center;
  font-size: calc(0.625rem + 2vmin);
  color: white;
  align-items: flex-start;
  width: 100%;
}


/* Style tab links */
.tablink {
  background-color: #555;
  color: #ffc107;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.875rem 1rem;
  font-size: 1.0625rem;
  width: 25%;
  text-decoration: none;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  padding: 6.25rem 0rem;
  width: 100%;
  height: 100%;
  min-width: 18.75rem;

}

.inner-content {
  padding: 0rem 3.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
} 

.inner-content h3{
  font-size: xx-large;
  margin: 0;
}

.routes{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  background-color: azure;
  margin-top: 3.125rem;
  box-shadow: 0.125rem 0.125rem 0.1875rem 0rem #ff980066;
}